.footer {
  height: 100px;
  background-color: #141414;
}

.main {
  height: auto;
  padding-top: 0px;
  opacity: 0.93;
}

.menusection {
  height: 15vh;
  background-color: #fff;
}

.div-block {
  width: 50%;
  height: 70vh;
  float: left;
  background-image: url('../images/img_utrecht-min.jpg');
  background-position: 0px 0px;
  background-size: 1219px;
}

.div-block.blockleft {
  width: 20%;
  height: 60vh;
  background-image: -webkit-linear-gradient(270deg, rgba(17, 19, 19, .73), rgba(17, 19, 19, .73)), url('../images/5a2be7d196bde90001f7a05e_ballet-min.jpg');
  background-image: linear-gradient(180deg, rgba(17, 19, 19, .73), rgba(17, 19, 19, .73)), url('../images/5a2be7d196bde90001f7a05e_ballet-min.jpg');
  background-position: 0px 0px, 50% 100%;
  background-size: auto, cover;
}

.div-block.blockright {
  width: 80%;
  height: 60vh;
  padding-top: 20px;
  background-color: #29b4b1;
  background-image: -webkit-linear-gradient(270deg, rgba(17, 19, 19, .73), rgba(17, 19, 19, .73)), url('../images/img_utrecht-min.jpg');
  background-image: linear-gradient(180deg, rgba(17, 19, 19, .73), rgba(17, 19, 19, .73)), url('../images/img_utrecht-min.jpg');
  background-position: 0px 0px, 0px 129%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.image {
  position: relative;
  margin-top: 86px;
  margin-left: 50%;
}

.heading {
  display: block;
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.search-input {
  display: block;
  width: 60%;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  float: left;
  border-style: solid;
  border-width: 1px 0px 1px 1px;
  border-color: transparent;
  border-radius: 10px 0px 0px 10px;
}

.search-button {
  height: 50px;
  margin-left: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  float: left;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  border-color: transparent;
  border-radius: 0px 10px 10px 0px;
  background-color: #fff;
  color: #313131;
}

.webshopdashboard {
  padding-top: 0px;
  padding-bottom: 35px;
}

.search {
  margin-top: 23px;
  margin-left: 192px;
}

.shopcard {
  padding: 0px;
  border: 1px solid #ececec;
  box-shadow: 0 1px 3px 0 #afaaaa;
}

.imgcontainer {
  height: 150px;
  margin-bottom: 0px;
  padding: 0px 20px;
}

.imgcontainer.cont2 {
  margin-bottom: 20px;
  padding-top: 40px;
  background-image: url('../images/denver.jpeg');
  background-position: 0px 0px;
  background-size: cover;
}

.imgcontainer.cont2.img2 {
  background-image: -webkit-linear-gradient(270deg, rgba(237, 46, 123, .39), rgba(237, 46, 123, .39)), url('../images/brassband.jpeg');
  background-image: linear-gradient(180deg, rgba(237, 46, 123, .39), rgba(237, 46, 123, .39)), url('../images/brassband.jpeg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.imgcontainer.cont2.img3 {
  background-image: -webkit-linear-gradient(270deg, rgba(237, 46, 123, .39), rgba(237, 46, 123, .39)), url('../images/old_theater.jpeg');
  background-image: linear-gradient(180deg, rgba(237, 46, 123, .39), rgba(237, 46, 123, .39)), url('../images/old_theater.jpeg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.percentageinfo {
  height: 40px;
  padding-top: 10px;
  background-color: #062336;
}

.ctapurchase {
  height: 60px;
  padding-top: 15px;
  background-color: #69c3b6;
}

.paragraph {
  font-family: 'PT Sans', sans-serif;
  color: #2fdf67;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.image-2 {
  display: block;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
}

.paragraph-2 {
  margin-top: 5px;
  margin-left: 54px;
  float: left;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.ordericon {
  width: 32px;
  height: 32px;
  margin-left: 5px;
  float: left;
  background-image: url('../images/shopping-cart.svg');
  background-position: 0px 0px;
  background-size: cover;
}

.fromright {
  width: 150px;
  height: 40px;
  float: right;
  border-radius: 20px 0px 0px 20px;
  background-color: #fff;
}

.heading-2 {
  color: #062336;
  text-align: center;
}

.container {
  padding-top: 0px;
}

.column {
  height: 70vh;
}

.column-2 {
  height: 70vh;
}

.div-block-2 {
  width: 600px;
  margin-left: 15%;
  text-align: left;
}

.menubar {
  display: block;
  width: 175px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
}

.linkblockmenu {
  width: 48px;
  height: 48px;
  margin-left: 7px;
  background-color: #5eaee4;
}

.shoprow {
  padding-top: 30px;
}

.link-block {
  padding-top: 15px;
}

.ctalinkblock {
  width: 100%;
  height: 60px;
  margin-bottom: -5px;
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #2fdf67;
}

.section {
  padding-top: 30px;
}

.div-block-3 {
  margin-right: 40px;
  padding: 15px;
  float: right;
  background-color: #29b4b1;
}

.button {
  margin-top: 0px;
  border-radius: 5px;
  background-color: #29b4b1;
}

.paragraph-3 {
  color: #fff;
}

.paragraph-4 {
  color: #fff;
}

.container-2 {
  padding-right: 10px;
  padding-bottom: 40px;
  padding-left: 10px;
}

.walletsection {
  height: 100px;
  padding-top: 25px;
  background-color: transparent;
}

.image-3 {
  margin-top: 5px;
  float: left;
}

.userjoyamount {
  margin-left: 10px;
  padding-top: 10px;
  float: left;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

.image-4 {
  margin-left: 10px;
  padding-top: 0px;
  float: left;
}

.tabs-menu {
  display: block;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.container-3 {
  padding-bottom: 15px;
  border-bottom: 1px solid #cfcccc;
}

.tab-link {
  width: 31%;
  background-color: #ed2e7b;
}

.tab-link.w--current {
  width: 33%;
  background-color: #cf2066;
}

.text-block {
  color: #fff;
  text-align: center;
}

.heading-3 {
  float: left;
}

.donatebutton {
  display: block;
  width: 70px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  border-radius: 5px;
  background-color: #2fdf67;
}

.balancewrapper {
  display: block;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  padding-top: 20px;
}

.type {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  padding-top: 5px;
  background-color: #eee;
}

.paragraph-5 {
  text-align: center;
}

.amountinteger {
  text-align: left;
}

.shoptype {
  text-align: center;
}

.dateinteger {
  text-align: center;
}

.tabs-content {
  margin-bottom: 10px;
}

.tab-pane {
  padding-top: 20px;
}

.tab-pane-2 {
  padding-top: 20px;
}

.tab-pane-3 {
  padding-top: 20px;
}

.row-2 {
  margin-top: 20px;
}

.column-3 {
  height: 350px;
  border: 1px solid #c9c3c3;
  background-image: url('../images/Mail-bijlage.png');
  background-position: 0px 0px;
  background-size: cover;
}

.eventcard {
  padding-right: 0px;
  padding-bottom: 20px;
  padding-left: 0px;
  border: 1px solid #ececec;
  box-shadow: 0 1px 3px 0 #afaaaa;
}

.eventheading {
  margin-top: 0px;
  color: #fcfcfc;
  text-align: center;
}

.eventdescription {
  float: none;
  text-align: center;
}

.showall {
  display: block;
  width: 120px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  background-color: #ed2e7b;
}

.heading-4 {
  padding-top: 8px;
  border-top: 1px solid transparent;
  text-align: center;
}

.container-4 {
  padding-top: 14px;
}

.monetarygoal {
  display: block;
  margin-bottom: 10px;
  background-color: #062336;
}

.image-5 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: left;
}

.heading-5 {
  margin-top: 15px;
  margin-left: 75px;
  float: left;
  color: #fff;
  font-size: 22px;
}